<!DOCTYPE html>
<html class="newapp {{#if Advanced}}advanced-mode{{/if}}">
  <head>
    <link href="/css/apps.css" rel="stylesheet" type="text/css">
    <link href="/css/pure.css" rel="stylesheet" type="text/css">
    <script src="/js/script.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="pure-g">
      <div class="sidebar pure-u-1">
        <div class="header">
          <div class="name">Applications</div>
          <h2 class="description">Select the application to install</h2>
        </div>
      </div>
    </div>
    <div class="content pure-u-1">
      <div>
        <div class="section-header">Download named application</div>
        <div class="text">
          You can install an app by clicking on one of the suggestions; or
          you can choose another Docker app by entering its registry name, or by dropping
          a Skeleton here.
        </div>
        <div class="section">
          <div class="pure-form pure-form-aligned">
            <div class="pure-control-group">
              <label>Enter Registry Name or drop Skeleton</label>
              <input data-skeleton="true" type="text" spellcheck="false" onkeypress="window.event.keyCode===13&&install(this.value,'registry-name')" class="pure-input-rounded pure-u-1-3">
            </div>
          </div>
        </div>
      </div>
      <div class="section">
        <div class="section-header">Applications</div>
        <div class="pure-g">
        {{#each skeletons}}
        <div class="skel pure-u-1-2">
          <div class="inner" onclick="install('{{image}}','catalogue')">
            <div class="bgcolor-{{color}} icon">
              <div class="icon-inner fgcolor-{{color}}">{{pre}}</div>
            </div>
            <div class="info">
              <div class="name">{{name}}</div>
              <div class="description">{{description}}</div>
            </div>
          </div>
        </div>
        {{/each}}
      </div></div>
    </div>
    <div data-popbox-id="download" data-popbox-noautoclose="1" class="popbox">
      <div class="popbox_container">
        <div class="section">
          <div class="pure-g">
            <div class="text pure-u-3-4">Downloading and installing application</div>
            <div class="download-spinner lds-dual-ring pure-u-1-4"></div>
          </div>
          <div class="pure-g">
            <div class="bar-title pure-u-1-2">
              <span>Downloading</span>
              <progress class="download" value=0 max=100></progress>
            </div>
            <div class="bar-title pure-u-1-2">
              <span>Installing</span>
              <progress class="extract" value=0 max=100></progress>
            </div>
          </div>
          <div class="download-button pure-g">
            <div class="pure-u-1-2">
              <button class="pure-button button-cancel" data-popbox-close="download">Cancel</button>
            </div>
            <div class="pure-u-1-2 download-message"></div>
          </div>
        </div>
      </div>
    </div>
    <script>
      const popbox = new Popbox({ blur: false, overlay: true });
      document.addEventListener('popbox_opening', () => {
        document.querySelector('.download-spinner').classList.remove('error');
        document.querySelector('.download-message').innerHTML = '';
        document.querySelector('.download').value = 0;
        document.querySelector('.extract').value = 0;
      });
      document.addEventListener('popbox_closing', () => {
        cmd('newapp.cancel');
      });
    </script>
  </body>
</html>
