<!DOCTYPE html>
<html class="main {{#if Advanced}}advanced-mode{{/if}}">
  <head>
    <meta name="viewport" content="width=1280">
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <link href="/css/pure.css" rel="stylesheet" type="text/css">
    <script src="/js/chart.js" type="text/javascript"></script>
    <script src="/js/sortable.js" type="text/javascript"></script>
    <script src="/js/script.js" type="text/javascript"></script>
    <link rel="apple-touch-icon" sizes="57x57" href="img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
    <link rel="manifest" href="img/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="img/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <div class="pure-g layout">
      <div class="pure-u nav">
        <div class="title" style="font-family:Futura,Trebuchet MS,Arial,sans-serif">MINKE<span style="color:red">BOX</span></div>
        <div class="operational">CPU: 0%&nbsp;&nbsp;&nbsp;Memory: 0%</div>
        {{#if configName}}<div class="subtitle">{{configName}}</div>{{/if}}
        <button class="pure-button" onclick="openInlinePage('new/application/')">Install App</button>
        <div class="pure-menu">
          <ul class="pure-menu-list" style="padding-left:6px">
            <li class="pure-menu-heading">Tags</li>
          </ul>
          <ul class="pure-menu-list" id="tag-insertion-point">
            {{> Tags}}
          </ul>
          <ul class="pure-menu-list" style="padding-left:6px">
            <li class="pure-menu-heading">Networks</li>
          </ul>
          <ul class="pure-menu-list" id="network-insertion-point">
            {{> Networks}}
          </ul>
        </div>
      </div>
      <div class="pure-u list" id="app-insertion-point">
        {{#each apps}}
        {{> App}}
        {{/each}}
      </div>
      <div class="pure-u info">
        <div class="apps-info" id="insertion-point">
          <div class="apps-info-container" id="appstatus-insertion-point">
            {{#each statuses}}
            {{> AppStatus}}
            {{/each}}
          </div>
        </div>
      </div>
    </div>
    <script>
      new Sortable(document.getElementById('app-insertion-point'), {
        forceFallback: true,
        fallbackTolerance: 5,
        delay: 500,
        delayOnTouchOnly: true,
        onEnd: (evt) => {
          const m = evt.item.className.match(/ application-(.*?) /);
          if (m) {
            cmd('app.move.tab', { id: m[1], from: evt.oldIndex, to: evt.newIndex });
          }
        }
      });
      new Sortable(document.getElementById('appstatus-insertion-point'), {
        forceFallback: true,
        fallbackTolerance: 5,
        delay: 500,
        delayOnTouchOnly: true,
        onEnd: (evt) => {
          const m = evt.item.className.match(/ application-status-(.*?) /);
          if (m) {
            cmd('app.move.widget', { id: m[1], from: evt.oldIndex, to: evt.newIndex });
          }
          refreshCharts();
        }
      });
    </script>
  </body>
</html>
