* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background-color: #f8f8f8;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0px;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.sidebar {
  background: rgb(61, 79, 93);
  color: #fff;
}
.header {
  text-align: left;
  top: auto;
  margin: 3em 2em;
}
.header h2 {
  font-weight: 300;
  color: rgb(176, 202, 219);
}
.header .name {
  background: inherit;
  font-size: 2em;
  width: 100%;
  text-align: left;
  padding: 2px;
  border: 0px;
}

.content {
  padding: 2em 3em 0;
}
.section {
  margin-bottom: 40px;
}
.section-header {
  text-transform: uppercase;
  color: #aaa;
  border-bottom: 1px solid #eee;
  padding: 0.4em 0;
  font-size: 80%;
  font-weight: 500;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
  margin-top: 10px;
}
.content label {
  color: #777;
}
.content .text {
  line-height: 1.4em;
  padding-bottom: 1em;
  color: #777;
}
.content .bar-title {
  display: flex;
  color: #777;
}
.content .download, .content .extract {
  flex: 1;
  margin: 0 10px;
}

.skel {
  display: inline-block;
  padding: 5px;
}
.skel .inner {
  display: flex;
  height: 100%;
  padding: 10px;
  border: 1px solid #999;
  border-radius: 5px;
  background-color: #f8f8f8;
  overflow: hidden;
}
.skel .inner:hover {
  border-color: #129FEA;
  background-color: #fff;
}
.skel .icon {
  display: inline-block;
  height: 80px;
  width: 80px;
  font-size: 200%;
  border-radius: 5px;
  border: 5px solid transparent;
  text-transform: lowercase;
  box-shadow: 1px 1px 5px #999;
}
.skel .icon::first-letter {
  text-transform: uppercase;
}
.skel .icon-inner {
  height: 100%;
  padding: 5px;
  border-radius: 3px;
  background-color: #fcfcfc;
}
.skel .info {
  display: inline-block;
  margin-left: 8px;
  max-height: 80px;
  overflow: hidden;
  flex: 1;
}
.skel .name {
  color:#999;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding-bottom: 0.1em;
}
.skel .description {

}

.download-button {
  padding-top: 20px;
}
.popbox .button-cancel {
  background: rgb(202, 60, 60); /* this is a maroon */
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.download-spinner.error {
  display: none;
}

/* Spinner */

.lds-dual-ring {
  display: inline-block;
  xwidth: 64px;
  xheight: 64px;
  padding-left: 20px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 34px;
  height: 34px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #aaa;
  border-color: #aaa transparent #aaa transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Spinner */

html:not(.advanced-mode) .admin-only, html.advanced-mode .user-only {
  display: none;
}

.bgcolor-0 {
  background-color: #278b30;
}
.bgcolor-1 {
  background-color: #ffd73e;
}
.bgcolor-2 {
  background-color: #b12427;
}
.bgcolor-3 {
  background-color: #88cce7;
}
.bgcolor-4 {
  background-color: #fd0a1a;
}
.bgcolor-5 {
  background-color: #808020;
}
.bgcolor-6 {
  background-color: #efad5a;
}
.bgcolor-7 {
  background-color: #fd1a91;
}
.bgcolor-8 {
  background-color: #d85452;
}
.bgcolor-9 {
  background-color: #41b376;
}
.bgcolor-10 {
  background-color: #6b6bc9;
}
.bgcolor-11 {
  background-color: #fd471f;
}
.bgcolor-12 {
  background-color: #4dbde9;
}
.bgcolor-13 {
  background-color: #c9ab32;
}
.bgcolor-14 {
  background-color: #36c742;
}
.bgcolor-15 {
  background-color: #8c668d;
}
.bgcolor-16 {
  background-color: #fc743e;
}
.bgcolor-17 {
  background-color: #a124b1;
}
.bgcolor-18 {
  background-color: #ffefaf;
}
.bgcolor-19 {
  background-color: #06f34d;
}

.fgcolor-0 {
  color: #278b30;
}
.fgcolor-1 {
  color: #ffd73e;
}
.fgcolor-2 {
  color: #b12427;
}
.fgcolor-3 {
  color: #88cce7;
}
.fgcolor-4 {
  color: #fd0a1a;
}
.fgcolor-5 {
  color: #808020;
}
.fgcolor-6 {
  color: #efad5a;
}
.fgcolor-7 {
  color: #fd1a91;
}
.fgcolor-8 {
  color: #d85452;
}
.fgcolor-9 {
  color: #41b376;
}
.fgcolor-10 {
  color: #6b6bc9;
}
.fgcolor-11 {
  color: #fd471f;
}
.fgcolor-12 {
  color: #4dbde9;
}
.fgcolor-13 {
  color: #c9ab32;
}
.fgcolor-14 {
  color: #36c742;
}
.fgcolor-15 {
  color: #8c668d;
}
.fgcolor-16 {
  color: #fc743e;
}
.fgcolor-17 {
  color: #a124b1;
}
.fgcolor-18 {
  color: #ffefaf;
}
.fgcolor-19 {
  color: #06f34d;
}

.popbox .popbox_container {
  max-width: 420px;
}
.popbox .section {
  margin: 20px 0;
}
.popbox .text {
  line-height: 1.4em;
  padding-bottom: 1em;
  text-transform: uppercase;
  color: #aaa;
}

/* Popbox */
.popbox.visible{
  opacity:1;
  z-index: 999;
transition:opacity 0.3s ease;
}
.popbox.opened{
  display: block;
}

.popbox_locked .popbox_main_content.popbox_blur{
  filter:blur(15px);
}

html.popbox_locked{
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
}

.popbox{
  z-index: -999;
  position: fixed;
  width: 100%;
  max-width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  will-change: opacity;
  transition:opacity 0.3s ease;
  opacity:0;
  will-change: opacity;
  background: rgba(60, 52, 66, 0.7);
  padding:18px;
  padding-top:5%;
  overflow-y: auto;
  display: none;
}

.popbox_container{
  border-radius:5px;
  margin-bottom:18px;
  padding: 18px;
  margin-left:auto;
  margin-right:auto;
  background:#fff;
  max-width:400px;
}
