html {
  background-color: #f8f8f8;
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0px;
  height: 100%;
  color: #777;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.sidebar {
  background: rgb(61, 79, 93);
  color: #fff;
}
.header {
  position: relative;
  text-align: right;
  top: auto;
  margin: 3em 2em;
}
.header h2 {
  font-weight: 300;
  color: rgb(176, 202, 219);
}
.header .skeleton-type {
  position: absolute;
  width: 100%;
  color: rgba(2555,255,255,0.05);
  font-size: 160px;
  text-transform: capitalize;
}
.sidebar nav {
  position: relative;
  height: 47px;
}
.sidebar nav a {
  background: transparent;
  border: 2px solid rgb(176, 202, 219);
  color: #fff;
  margin-top: 1em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 85%;
}
.sidebar nav a[disabled] {
  border: 2px solid rgb(176, 202, 219);
}
.sidebar nav a:hover,
.sidebar nav a:focus {
  border: 2px solid rgb(61, 146, 201);
  text-decoration: none;
}

.configure .header .name {
  position: relative;
  width: 100%;
  border-bottom: 2px solid rgb(176, 202, 219);
}
.configure .header .name input {
  background: inherit;
  font-size: 2em;
  text-align: right;
  outline: none;
  white-space: pre;
  border: 0.5px dotted rgb(83, 139, 176);
  padding: 2px;
}

.configure .section.invisible, .configure .action.invisible, .configure .content-text.invisible, .configure .help-text.invisible {
  display: none;
}
.configure .section {
  display: block;
}
.configure .content {
  padding: 2em 3em;
}
.configure .content-header {
  text-transform: uppercase;
  color: #aaa;
  border-bottom: 1px solid #eee;
  padding: 0.4em 0;
  font-size: 80%;
  font-weight: 500;
  letter-spacing: 0.1em;
  margin: 20px 0;
}
.configure .content-text {
  color: #777;
  line-height: 1.4em;
  padding-bottom: 1em;
}
.configure .content-text a, .configure .help-text-content a {
  font-weight: 600;
  color: #7878ff;
  text-decoration: none;
}
.configure .help-text {
  height: auto;
  overflow: hidden;
}
.configure .help-text-content {
  color: #777;
  line-height: 1.4em;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 8px;
  background-color: #dbeef5;
}
html:not(.help-available) .help-text {
  height: 0px;
}
.configure .actions label {
  width: 30% !important;
}
.configure .actions label.wide {
  width: 60% !important;
}
.configure .actions input[type="text"]::placeholder {
  color: #ccc;
}
.configure .actions .file .value {
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  height: 150px;
  padding: 10px 15px;
  overflow: scroll;
  font-family: monospace;
  font-size: 14px;
  white-space: pre;
  background-color: #fff;
  resize: vertical;
}
.configure .actions .file .value:focus {
  outline: none;
  border-color: #129FEA;
}
.configure .actions .table table {
  display: inline-block;
  background-color: #fff;
  box-shadow: inset 0 1px 3px #ddd;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 400px;
}
.configure .actions .table table thead {
  background-color: transparent;
}
.configure .actions .table table thead th {
  width: 10000px;
  white-space: pre;
}
.configure .actions .table table thead th.control {
  width: 0px;
}
.configure .actions .table table .add, .configure .actions .table table .remove {
  color: black;
  font-weight: bold;
  cursor: pointer;
}
.configure .actions .table table input[type="text"] {
  width: 100%;
  border: 0;
  box-shadow: none;
  height: 1.2em;
  padding: 0;
  text-overflow: ellipsis;
}
.configure .actions .table table input[type="text"]:invalid {
  background-color: #ffadad;
}

.configure .actions .share {
  display: block;
}

.configure .skeleton .editor {
  height: 600px;
}
.configure .skeleton {
  display: none;
  margin-bottom: 40px;
}
.configure.editing .skeleton {
  display: block;
}
.configure .skeleton .editor {
  border: 2px solid #ccc;
}
.configure .skeleton .editor.invalid {
  border-color: red;
}
.configure .skeleton .pure-button {
  float: right;
  color: #666;
  margin-top: 5px;
  border: 1.5px solid #aaa;
}
.configure .actions .shareables table {
  display: inline-block;
  background-color: #fff;
  box-shadow: inset 0 1px 3px #ddd;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 400px;
}
.configure .actions .shareables thead {
  background-color: transparent;
}
.configure .actions .shareables thead th {
  width: 10000px;
  white-space: pre;
}
.configure .actions .shareables thead th.control {
  width: 0px;
}
.configure .actions .shareables thead:not(:first-child) th:not(:first-child) {
  visibility: hidden;
}
.configure .actions .shareables input[type="text"] {
  width: 100%;
  border: 0;
  box-shadow: none;
  height: 1.2em;
  padding: 0;
  text-overflow: ellipsis;
}
.configure .actions .shareables input[type="text"]::placeholder {
  color: #ccc;
}
.configure .actions .shareables .add, .configure .actions .shareables .remove {
  color: black;
  font-weight: bold;
  cursor: pointer;
}
.configure .actions .shareables .no-remove {
  color: #ccc;
}

.configure .actions .backups table {
  display: inline-block;
  background-color: #fff;
  box-shadow: inset 0 1px 3px #ddd;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 400px;
}
.configure .actions .backups thead {
  background-color: transparent;
}
.configure .actions .backups thead th {
  width: 10000px;
  white-space: pre;
}
.configure .actions .backups thead th.control {
  width: 0px;
}

.configure .actions .websites table {
  display: inline-block;
  background-color: #fff;
  box-shadow: inset 0 1px 3px #ddd;
  overflow: hidden;
}
.configure .actions .websites thead {
  background-color: transparent;
}
.configure .actions .websites thead th {
  width: 10000px;
  white-space: pre;
}
.configure .actions .websites input[type="text"] {
  width: 100%;
  border: 0;
  box-shadow: none;
  height: 1.2em;
  padding: 0;
}
.configure .actions .websites input[type="text"]::placeholder {
  color: #ccc;
}

.configure .actions .disks label {
  height: 0;
  text-transform: capitalize;
}
.configure .actions .disks .meter {
  position: relative;
  background-color: white;
  height: 36px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  padding: 0.4em;
  z-index: 0;
  margin-bottom: 8px;
}
.configure .actions .disks .meter .bar {
  height: 21px;
  background-color: #d6ffd9;
  border-radius: 10px;
  z-index: -1;
}
.bar.color-6, .bar.color-7, .bar.color-8 {
  background-color: #facbcb !important;
}
.bar.color-9, .bar.color-10 {
  background-color: #fc7070 !important;
}
.configure .actions .disks .meter .size {
  position: absolute;
  color: black;
  padding: 2px 0 0 7px;
}
.configure .actions .disks .format {
  margin-top: -8px;
  vertical-align: top;
  background: rgb(202, 60, 60); /* this is a maroon */
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.configure .actions .disks .meter .bar.color-loading {
  border: 1px solid #7ba3be;
  background-image: repeating-linear-gradient(-45deg,#7ba3be,#7ba3be 11px,#eee 10px,#eee 20px);
  background-size: 28px 28px;
  animation: move .5s linear infinite;
}
@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 28px 0;
  }
}

html:not(.advanced-mode) .admin-only, html.advanced-mode .user-only {
  display: none;
}

.popbox .popbox_container {
  max-width: 460px;
  padding: 40px;
}
.popbox .button-no {
  background: rgb(28, 184, 65); /* this is a green */
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.popbox .button-delete-app, .popbox .button-restart, .popbox .button-update, .popbox .button-reboot, .popbox .button-halt, .popbox .button-format, .popbox .button-restore {
  background: rgb(202, 60, 60); /* this is a maroon */
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.popbox .spacer {
  padding-top: 20px;
}

/* Popbox */
.popbox.visible{
  opacity:1;
  z-index: 999;
  transition:opacity 0.3s ease;
}
.popbox.opened{
  display: block;
}

.popbox_locked .popbox_main_content.popbox_blur{
  filter:blur(15px);
}

html.popbox_locked{
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
}

.popbox{
  z-index: -999;
  position: fixed;
  width: 100%;
  max-width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  will-change: opacity;
  transition:opacity 0.3s ease;
  opacity:0;
  will-change: opacity;
  background: rgba(60, 52, 66, 0.7);
  padding:18px;
  padding-top:5%;
  overflow-y: auto;
  display: none;
}

.popbox_container{
  border-radius:5px;
  margin-bottom:18px;
  padding: 18px;
  margin-left:auto;
  margin-right:auto;
  background:#fff;
  max-width:400px;
}
